body {
  background-image: url(../image/background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", sans-serif;
}

.login-heading {
  margin: 20px;
  text-align: center;
  // position: relative;
  // left: 250px;
}

.game-heading {
  margin: 20px;
  // text-align: center;
  position: relative;
  left: 250px;
}

.App {
  display: inline-grid;
  grid-template-columns: auto auto;
  // margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 5px;
}

.sign-up-container,
.login-container {
  padding: 10px;
  text-align: center;
  margin: 10px;
  background: rgb(211, 211, 211);
  opacity: 0.8;
  border-radius: 20px;
  width: 200px;
  height: 300px;
}

.sign-up-button,
.login-button {
  margin: 8px;
  display: inline-block;
  padding: 10px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
}

.sign-up-button:hover,
.login-button:hover {
  background-color: #3e8e41;
}

.sign-up-button:active,
.login-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input {
  margin: 8px;
  padding: 5px;
  background: white;
  border: 0 none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/////////////lobby

// .lobbyButton {
//   height: 80px;
//   width: 80px;
//   border-radius: 20px;
//   margin: 5px;
// }

// .Start-button {
//   margin: 20px;
//   width: 50px;
//   height: 30px;
//   border-radius: 20px;
// }

// .table {
//   display: inline-grid;
//   grid-template-rows: auto auto;
// }

// .redTeam {
//   display: inline-grid;
//   grid-template-columns: auto auto auto auto;
// }

// .blueTeam {
//   display: inline-grid;
//   grid-template-columns: auto auto auto auto;
// }

// #b0,
// #r0 {
//   border: 5px solid rgb(223, 214, 97);
// }

// #online-player-list {
//   display: table;
//   width: 100%;
//   grid-template-columns: auto;
//   position: absolute;
//   bottom: 0;
// }
// .onlinePlayer {
//   margin: 5px;
//   background: rgb(44, 165, 149);
//   border-radius: 50%;
//   display: table-cell;
//   display: inline-block;
//   height: 50px;
//   width: 50px;
//   text-align: center;
//   font: bold 15px/13px Helvetica, Verdana, Tahoma;
//   box-shadow: 5px 5px 5px rgb(107, 99, 99);
// }

/////////////game

.gameover {
  font-size: 130px;
  position: absolute;
  top: 40px;
  left: 20px;
  transform: rotate(335deg);
  opacity: 0.3;
}

.teamsBoard {
  // width: 700px;
  display: grid;
  grid-template-columns: auto auto;
  font-family: "Gill Sans", sans-serif;
  position: absolute;
  top: 250px;
  left: 740px;
}

#red {
  width: 140px;
  height: 120px;
  margin: 10px;
  border: 5px solid rgb(77, 77, 77);
  border-radius: 20px;
  background: rgb(211, 140, 140);
  white-space: pre-wrap;
  font-family: inherit;
  font-size: 20px;
}
#red:hover,
#blue:hover {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#red:active,
#blue:active {
  box-shadow: 0 5px #666;
  transform: translateY(6px);
}

#blue {
  width: 140px;
  height: 120px;
  margin: 10px;
  border-radius: 20px;
  border: 5px solid rgb(77, 77, 77);
  background: rgb(126, 161, 201);
  white-space: pre-wrap;
  font-family: inherit;
  font-size: 18px;
}

.button-container {
  padding: 10px;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  width: 700px;
  height: 500px;
  background: gray;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.button-container > button {
  background: url(../image/button-bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 80px;
  float: left;
  margin: 10px;
  border-radius: 10px;
  border: 5px solid rgb(147, 148, 84);
  font-size: 15px;
}

.button-container > button:hover {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-container > button:active {
  box-shadow: 0 5px #666;
  transform: translateY(6px);
}

.condition {
  background: rgba(56, 142, 148, 0.76);
  margin: 10px;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  position: absolute;
  top: 380px;
  left: 740px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 10px;
}

.conditionBox {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin: 2px;
  border: 0.5px solid rgb(0, 0, 0);
}

#left {
  border-radius: 5px;
  width: 20px;
  height: 40px;
  margin: 2px;
  border: 0.5px solid rgb(0, 0, 0);
  grid-row-start: 1;
  grid-row-end: 7;
}

#right {
  border-radius: 5px;
  width: 20px;
  height: 40px;
  margin: 2px;
  border: 0.5px solid rgb(0, 0, 0);
  grid-row-start: 1;
  grid-row-end: 7;
  grid-column-start: 7;
  grid-column-end: 8;
}

.information {
  padding: 10px;
  position: absolute;
  top: 50px;
  left: 740px;
  margin: 10px;
  background: rgb(211, 211, 211);
  opacity: 0.8;
  border-radius: 20px;
  width: 300px;
  height: 170px;
  font-size: 10px;
}

.control {
  position: absolute;
  left: 100px;
}

.control > button {
  margin: 8px;
  display: inline-block;
  padding: 10px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
}

.control > button:hover {
  background-color: #3e8e41;
}

.control > button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
