body {
  background: rgb(255, 127, 127);
}

#p0,
#p1,
#p2,
#p3 {
  height: 100px;
  width: 100px;
}

.button-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  width: 700px;
  height: 500px;
  background: gray;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.button-container > button {
  width: 120px;
  height: 80px;
  float: left;
  margin: 10px;
}

.refresh {
  width: 100px;
  height: 50px;
}

.condition {
  background: rgba(56, 142, 148, 0.76);
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  // width: 200px;
  // height: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 10px;
}

.conditionBox {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin: 2px;
  border: 0.5px solid rgb(0, 0, 0);
}

#left {
  border-radius: 5px;
  width: 20px;
  height: 40px;
  margin: 2px;
  border: 0.5px solid rgb(0, 0, 0);
  grid-row-start: 1;
  grid-row-end: 7;
}

#right {
  border-radius: 5px;
  width: 20px;
  height: 40px;
  margin: 2px;
  border: 0.5px solid rgb(0, 0, 0);
  grid-row-start: 1;
  grid-row-end: 7;
  grid-column-start: 7;
  grid-column-end: 8;
}
